<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jassikdan.ingrdIhave.dao.IngrdIhaveDAO">
	<!-- userId로 냉장고 속 재료 리스트 가져오기 -->
	<select id="selectIngrdIhaveByUserId" parameterType="int" resultType="com.jassikdan.ingrdIhave.model.IngrdIhave">
		SELECT 
			`id`
			, `userId`
			, `ingrdId`
			, `refrigeratorNum`
			, `expirationDate`
			, `amount`
			, `createdAt`
			, `updatedAt`
		FROM 
			`ingrd_ihave`
		WHERE 
			`userId` = #{userId}
	</select>
	<!-- userId, refrigeratorNum로 냉장고 속 재료 리스트 가져오기 -->
	<select id="selectIngrdIhaveByUserIdRefrigeNum" parameterType="map" resultType="com.jassikdan.ingrdIhave.model.IngrdIhave">
		SELECT
			`id`
			, `userId`
			, `ingrdId`
			, `refrigeratorNum`
			, `expirationDate`
			, `amount`
			, `createdAt`
			, `updatedAt`
		FROM
			`ingrd_ihave`
		WHERE
			`userId` = #{userId}
			AND
			`refrigeratorNum` = #{refrigeratorNum}

	</select>
	<!-- 구입한 재료 등록하기 -->
	<insert id="insertIngrdIhave" parameterType="map">
		INSERT INTO
			`ingrd_ihave`
		(
			`userId`
			, `ingrdId`
			, `refrigeratorNum`
			, `createdAt`
			, `updatedAt`
		)
		VALUES
		( 
			#{userId}
			, #{ingrdId}
			, #{refrigeratorNum}
			, NOW()
			, NOW()
		)
	</insert>
	
	<!-- 가지고 있는 재료 정보 수정 -->
	<update id="updateIngrdIhave" parameterType="map">
		UPDATE 
			`ingrd_ihave`
		SET
			`amount` = #{ingrdAmount} AND
			`expirationDate` = #{ingrdExpdate}
		WHERE 
			`id` = #{ingrdIhaveId}
	</update>
	
	<!-- 구입한 재료 삭제 -->
	<delete id="deleteIngrdIhaveById" parameterType="map">
		DELETE FROM
			`ingrd_ihave`
		WHERE 
			`userId` = #{userId} and `id` = #{id};
	</delete>
	
	<!-- 재료 사용 -->
	<update id="updateAmountByUserIdAndRecipeId" parameterType="map">
		UPDATE 
			`ingrd_ihave`
		SET
			`amount` = #{amount}
		WHERE
			`userId` = #{userId} AND `ingrdId` = #{ingrdId} AND `createdAt` = #{createdAt};
	</update>
	
</mapper>