<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.jassikdan.ingrdIhave.dao.IngrdIhaveDAO">
	<!-- userId로 냉장고 속 재료 리스트 가져오기 -->
	<select id="selectIngrdIhaveByUserId" parameterType="int" resultType="com.jassikdan.ingrdIhave.model.IngrdIhave">
		SELECT 
			`id`
			, `userId`
			, `ingrdId`
			, `expirationDate`
			, `amount`
			, `createdAt`
			, `updatedAt`
		FROM 
			`ingrd_ihave`
		WHERE 
			`userId` = #{userId}
	</select>
	
	<!-- 구입한 재료 등록하기 -->
	<insert id="insertIngrdIhaveList" parameterType="java.util.List">
		INSERT INTO
			`ingrd_ihave`
		(
			`userId`
			, `ingrdId`
			, `amount`
			, `expirationDate`
		)
		VALUES
		<foreach collection="list" item="ingrd" separator=",">
		( 
			#{ingrd.userId}
			, #{ingrd.ingrdId}
			, #{ingrd.amount}
			, #{ingrd.date}
		
		)
			
		</foreach>
	</insert>
</mapper>