<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.jassikdan.recipe.dao.RecipeDAO">
	<!-- 내가 올린 레시피 보여주기 -->
	<select id="selectRecipeListByUserId" resultType="com.jassikdan.recipe.model.Recipe">
		SELECT 
			`id`
			, `userId`
			, `name`
			, `description`
			, `nation`
			, `image`
			, `createdAt`
			, `updatedAt`
		FROM
			`recipe`
		WHERE 
			`userId` = #{userId}
		ORDER BY
			`createdAt` DESC
	</select>
	
	<!-- 모든 레시피 가져오기 -->
	<select id="selectAllRecipe" resultType="com.jassikdan.recipe.model.Recipe">
		SELECT 
			`id`
			, `userId`
			, `name`
			, `description`
			, `nation`
			, `image`
			, `createdAt`
			, `updatedAt`
		FROM
			`recipe`
		limit 20;
	</select>
</mapper>