@charset "UTF-8";

/*### 공통 ###*/
body {
	margin: 0;
}
.bg-green{
	background-color:#C5C9A4;
}
.pointer{
	cursor:pointer;
}
.font-size-10{
	font-size: 10px;
}
a:hover {text-decoration: none; font-size: bigger}

.searchIconBox {
	width : 50px;
}
.bg-lightgray {
	background-color : rgb(242, 242, 242);
}
.text-darkgreen{
	color: #002919;
}


/*### 헤더 ###*/
#header{
	height:75px;
}
.opacity {
	height:75px;
	background: rgba(197, 201, 164, 0.5);
}
.nav{
	width:550px;
}
.bg-img{
	height:605px;
	background-image: URL(/static/images/main/salad.jpg) 
}
.pop-layer-user { 
	display : none;
	position : absolute;
	width : 120px;
	background-color:#fff;
    top: 100%;
    left: 50%;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-top: 2px;
    border-radius: 6px;
    border: 1px solid #999;
}
#topMenu {
	height:45px;
	background-color : rgb(0, 43, 26);
}
#topMenu  a:hover 
{	text-decoration: none; 
	font-weight : bold;
}



/*### 메인페이지 ###*/
.contents{
	height:473px;
}
.contents .text-box {
	height:120px;
}
.contents .text-box {
	color: #002919;
	font-size: 17px;
}
.circle-box{
	width:860px;
}
.circle {
	width:138px;
	height:138px;
	background-color:#C5C9A4;
	margin-bottom: 30px;
	border-radius: 50%;
	box-shadow: 1px 1px 1px gray;
}
.container {
	width: 1200px;
}


/*### 로그인 페이지 ###*/
#loginBox {
	margin: 50px auto;
	height:400px;
	width:500px;
	border: 1px solid #999;
	border-radius: 10%;
	box-shadow: 1px 1px 1px gray;
}

/*### 회원가입 페이지 ###*/
#signUpBox{
	margin: 10px auto;
	width:500px;
	border: 1px solid #999;
	border-radius: 10%;
	box-shadow: 1px 1px 1px gray;
}


/*### 냉장고 화면 페이지 ###*/
.ingrdSelectBox {
	margin-left : 150px;
}
.ingrdSelectBox > .ingrdIconBox{
	width:800px;
	height:200px;
  	overflow-y: scroll;
  	background-color : white;
  	padding-top : 10px;
  	padding-bottom : 10px;
}
.ingrdIcon {
	width: 75px;
	height: 90px;
}
.ingrdIcon > .ingrdIconImg {
	width: 60px;
	height: 60px;
 	border: 1px solid #999;
	border-radius: 50%;
	box-shadow: 1px 1px 1px gray;
	margin:5px;
	background-color : white;
	text-align : center; 
}
.ingrdIconImg > img {
	 width : 60px;
	 height : 60px;
}
/* 냉장고 */
.refrigerator {
	margin-left : 150px;
}
.refrigeratorDoor-1 {
	background-color: white;
	width: 350px;
	height: 250px;
	margin-bottom : 10px;
	border : 1px solid #999;
	border-radius: 10%;
}
.refrigeratorDoor-2 {
	background-color: white;
	width: 350px;
	height: 340px;
	border : 1px solid #999;
	border-radius: 10%;
}
.refrigeratorDoor-3 {
	background-color: white;
	width: 350px;
	height: 600px;
	border : 1px solid #999;
	border-radius: 10%;
}
.refrigeratorDoor > a {
	display: inline-block;
	height: 100px;
	width: 100px;
}

/*### 요리 등록 화면 ###*/ 
#recipeImageBox{
	width:200px;
	height:200px;
	background-color: #888;
}
.insertCourseBox{
	width : 250px;
	margin-right: 10px;
}
.insertCourseImgBox {
	width:200px;
	height:200px;
	background-color: black;
}

/*### timeline 화면 ###*/
.recipeBox {
	width:300px;
	border-radius: 5%;
	box-shadow: 1px 1px 5px #999;
}
.reicpeBox > .recipeImg {
	width : 300px;
	height : 300px;
	background-color : black;
}
















